#l-anchor1{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    color: #FAFAFA;
    text-decoration: none;
    border: 1px solid #DB4444;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 4px;
    background-color: #DB4444;
}

#l-anchor1:hover{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
    border: 1px solid #DB4444;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 4px;
    background-color: transparent;
}

#signin-form{
    display: flex;
    flex-direction: column;
}

#error-text{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: red;
    margin-top: 8px;
}

#l-anchor2{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #DB4444;
    text-decoration: none;
}

#l-m-d1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 44px;
}

#l-t-1{
    font-size: 34px;
    font-weight: 500;
    font-family: "Inter";
    color: #000000;
}

#r-t-2{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
}

#regis-m1{
    display: flex;
    align-items: center;
    width: 93.4%;
    justify-content: space-between;
    margin-top: 60px;
    /* padding-bottom: 120px; */
}

#r-image1{
    width: 90%;
}

#r-input1{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-bottom: 4px;
    margin-top: 40px;
}

#regis-m2{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#r-input1:focus{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-bottom: 4px;
    margin-top: 40px;
    outline: none;
}

#div-9-3{
    display: none;
}

#r-anchor1{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    color: #FAFAFA;
    text-decoration: none;
    background-color: #DB4444;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 40px;
}

#r-anchor2{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

#r-a-m1{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000066;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 15px;
    border-radius: 4px;
}

#r-t-3{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#r-anchor3{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 2px;
    margin-left: 16px;
}

@media screen and (min-width:1025px) and (max-width:1199px) {
    #r-image1{
        width: 100%;
    }

    #r-i1-d{
        width: 37rem;
    }

    #regis-m2{
        width: 35%;
    }
}

@media screen and (min-width:501px) and (max-width:1024px) {
    #r-i1-d{
        display: none;
    }

    #regis-m1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    #regis-m2{
        width: 24rem;
    }
}

@media screen and (max-width:500px) {
    #r-i1-d{
        display: none;
    }

    #l-t-1{
        font-size: 30px;
    }

    #regis-m1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    #regis-m2{
        width: 20rem;
    }
}