#div-30{
    display: flex;
    width: 100%;
    justify-content: center;
}

#div-31{
    width: 87%;
    display: flex;
    justify-content: space-between;
}

#div-35{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#div-32{
    border-right: 0.5px solid #000000;
    width: 18%;
    padding-top: 40px;
}

#anchor-20{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
    margin-top: 3px;
}

#div-36{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 18px;
}

#anchor-21{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
    margin-top: 3px;
}

#anchor-22{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#anchor-23{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#anchor-24{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#anchor-25{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#anchor-26{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#anchor-27{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#anchor-28{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #000000;
    text-decoration: none;
}

#div-37{
    margin-top: 18px;
}

#div-38{
    margin-top: 18px;
}

#div-39{
    margin-top: 18px;
}

#div-40{
    margin-top: 18px;
}

#div-41{
    margin-top: 18px;
}

#div-42{
    margin-top: 18px;
}

#div-43{
    margin-top: 18px;
}

#text-40{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #FAFAFA;
    margin-bottom: 0px;
}

#div-44{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
}

#carousel-image{
    width: 22rem;
}

#text-41{
    font-size: 60px;
    font-weight: 600;
    color: #FAFAFA;
    width: 33.5rem;
    line-height: 76px;
    margin-top: 13px;
}

#div-45{
    display: flex;
    align-items: center;
    width: 7rem;
    justify-content: space-between;
    margin-top: 17px;
}

#anchor-30{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    text-decoration: none;
    color: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
    padding-bottom: 3px;
}

#div-50{
    padding-left: 65px;
    padding-top: 35px;
    width: 57%;
}

#div-51{
    padding-top: 25px;
}

#div-33{
    padding-top: 50px;
    background-color: #000000;
    width: 80%;
    height: 390px;
    padding-left: 75px;
    padding-right: 90px;
    margin-top: 30px;
}

#carousel-d1{
    width: 80%;
    display: flex;
    justify-content: end;
    margin-top: 35px;
    height: 400px;
}

#ntext-1{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    color: #FAFAFA;
    margin-bottom: 0px;
}

#ntext-2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Inter";
    color: #FAFAFA;
    line-height: 60px;
    margin-top: 25px;
}

#nanchor-1{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
    color: #FAFAFA;
    text-decoration: none;
    border-bottom: 1px solid #FAFAFA;
    padding-bottom: 4px;
}

#ndiv-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
}

#ndiv-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.3rem;
    margin-top: 25px;
}

#ndiv-3{
    display: flex;
    justify-content: space-between;
}

#ndiv-4{
    width: 18rem;
    padding-top: 25px;
}

#ndiv-6{
    display: flex;
    justify-content: center;
}

#ndiv-7{
    padding-top: 12px;
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    #ntext-2{
        font-size: 40px;
        font-weight: 600;
        font-family: "Inter";
        color: #FAFAFA;
        line-height: 60px;
        margin-top: 25px;
    }

    #div-31{
        width: 87%;
        display: flex;
        justify-content: space-between;
    }

    #nimage-1{
        width: 25vw;
    }

    #div-33{
        padding-right: 50px;
    }

    #ndiv-5{
        padding-top: 30px;
    }

    #anchor-20{
        font-size: 14px;
    }

    #anchor-21{
        font-size: 14px;
    }

    #anchor-22{
        font-size: 14px;
    }

    #anchor-23{
        font-size: 14px;
    }

    #anchor-24{
        font-size: 14px;
    }

    #anchor-25{
        font-size: 14px;
    }

    #anchor-26{
        font-size: 14px;
    }

    #anchor-27{
        font-size: 14px;
    }

    #anchor-28{
        font-size: 14px;
    }

    #div-36{
        margin-top: 20px;
    }

    #div-37{
        margin-top: 20px;
    }

    #div-38{
        margin-top: 20px;
    }

    #div-39{
        margin-top: 20px;
    }

    #div-40{
        margin-top: 20px;
    }

    #div-41{
        margin-top: 20px;
    }

    #div-42{
        margin-top: 20px;
    }

    #div-43{
        margin-top: 20px;
    }
}

@media screen and (max-width:1024px) {
    #div-32{
        display: none;
    }

    #ndiv-5{
        padding-top: 30px;
    }

    #div-31{
        width: 87%;
        display: flex;
        justify-content: space-between;
    }

    #carousel-d1{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 35px;
        height: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
    #nimage-2{
        width: 2rem;
    }

    #nimage-3{
        width: 1rem;
    }

    #ntext-1{
        font-size: 14px;
    }

    #ntext-2{
        font-size: 32px;
        font-weight: 600;
        font-family: "Inter";
        color: #FAFAFA;
        line-height: 46px;
        margin-top: 18px;
    }

    #nanchor-1{
        font-size: 14px;
    }

    #ndiv-1{
        width: 10rem;
        margin-top: 15px;
    }

    #ndiv-2{
        width: 6.4rem;
    }
    
    #nimage-1{
        width: 17rem;
    }

    #div-33{
        padding-right: 50px;
        padding-left: 40px;
        width: 100%;
        height: 370px;
    }

    #carousel-d1{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 35px;
        height: 300px;
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    #nimage-2{
        width: 2rem;
    }

    #nimage-3{
        width: 1rem;
    }

    #ntext-1{
        font-size: 12px;
    }

    #carousel-d1{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 35px;
        height: 280px;
    }

    #ntext-2{
        font-size: 28px;
        font-weight: 600;
        font-family: "Inter";
        color: #FAFAFA;
        line-height: 46px;
        margin-top: 14px;
    }

    #nanchor-1{
        font-size: 12px;
    }

    #ndiv-1{
        width: 10rem;
    }

    #ndiv-2{
        width: 6.4rem;
        margin-top: 12px;
    }
    
    #nimage-1{
        width: 13rem;
    }

    #div-33{
        padding-right: 30px;
        padding-left: 30px;
        width: 100%;
        height: 310px;
    }

    #ndiv-4{
        padding-top: 15px;
    }
}

@media screen and (min-width:450px) and (max-width:599px) {
    #nimage-2{
        width: 1.5rem;
    }

    #nimage-3{
        width: 0.7rem;
    }

    #ntext-1{
        font-size: 9px;
    }

    #carousel-d1{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 35px;
        height: 240px;
    }

    #ntext-2{
        font-size: 22px;
        font-weight: 600;
        font-family: "Inter";
        color: #FAFAFA;
        width: 80%;
        line-height: 32px;
        margin-top: 12px;
        margin-bottom: 9px;
    }

    #nanchor-1{
        font-size: 7.5px;
        padding-top: 3px;
    }

    #ndiv-1{
        width: 6.8rem;
    }

    #ndiv-2{
        width: 3.8rem;
        margin-top: 7px;
    }
    
    #nimage-1{
        width: 10rem;
    }

    #div-33{
        padding-right: 30px;
        padding-left: 30px;
        width: 100%;
        height: 238px;
        padding-top: 25px;
    }

    #ndiv-4{
        padding-top: 15px;
    }

    #nimage-4{
        width: 4rem;
    }
}

@media screen and (max-width:449px) {
    #nimage-2{
        width: 1.2rem;
    }

    #nimage-3{
        width: 0.6rem;
    }

    #ntext-1{
        font-size: 7.5px;
        padding-top: 3px;
    }

    #carousel-d1{
        width: 100%;
        display: flex;
        justify-content: end;
        margin-top: 35px;
        height: 200px;
    }

    #ntext-2{
        font-size: 18px;
        font-weight: 600;
        font-family: "Inter";
        color: #FAFAFA;
        width: 75%;
        line-height: 26px;
        margin-top: 8px;
        margin-bottom: 9px;
    }

    #nanchor-1{
        font-size: 6.5px;
        padding-top: 3px;
    }

    #ndiv-1{
        width: 5.4rem;
    }

    #ndiv-2{
        width: 3.2rem;
        margin-top: 7px;
    }
    
    #nimage-1{
        width: 7.5rem;
    }

    #div-33{
        padding-right: 30px;
        padding-left: 30px;
        width: 100%;
        height: 190px;
        padding-top: 15px;
    }

    #ndiv-4{
        padding-top: 15px;
    }

    #nimage-4{
        width: 3rem;
    }
}